/vendor/
composer.lock
.phpunit.result.cache
.idea/
.vscode/
*.swp
*.swo
*~
.DS_Store
.env
.env.backup
.phpstorm.meta.php
_ide_helper.php
_ide_helper_models.php
.php-cs-fixer.cache
coverage/
.phpunit.cache
